---
layout: default
---

<div class="main-content">
<article class="module color-3">
        <h1>{{ page.category }}</h1>
        <hr>
    {% for post in site.posts %}
		{% if post.categories contains page.category %}
        <article class='module color-3'>
            <header>
                <span class='categories'>{{post.date | date: "%F %R" }} {{ post.categories | array_to_sentence_string }}</span>
                
                <h2>
                    <a href='{{ fullUrl }}{{ post.url }}' title='{{ post.title }}'>
                        {{ post.title }}
                    </a>
                </h2>
                
                
            </header>
            
            <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
                
        </article>
		{% endif %}
    {% endfor %}
</article>
